*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: rgb(16, 22, 23);
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display:block;
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: rgb(212, 212, 205);
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.home{
    display: flex;
    background: url("img.jpg") no-repeat center;
    height: 100vh;
    color: rgb(14, 13, 13);
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 25px;
}
.home .home-content .text-2{
    font-size: 70px;
    font-weight: 500;
    margin-left: -4px;
}

.home .home-content a{
    display: inline-block;
    background: crimson;
    color: rgb(20, 19, 19);
    font-size: 25px;
    padding: 13px 34px;
    margin-top: 25px;
    font-weight: 450;
    border-radius: 6px;
    border: 3px solid crimson;
    transition: all 0.3s ease;
}